/.libs/
/autom4te.cache/
/build/
/engine-build/
/include/
/modules/
/Makefile*
/acinclude.m4
/aclocal.m4
/config.guess
/config.sub
/config.h*
/config.log
/config.nice
/config.status
/configure
/configure.ac
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/run-tests.php
/*.la
/src/*.lo
/src/*.dep
/src/.libs/
/tests/*.diff
/tests/*.exp
/tests/*.log
/tests/*.out
/tests/*.php
/tests/*.sh
